.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
  text-align: center;
}
h1{
  font-size: 37px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(6, 6, 107);
}
.counter-output{
  font-size: 29px;
  font-weight: 500;
}
.control{
  margin-top: 5%;
}
.container{
  padding: 3%;
}
button{
  padding: 3%;
  background-color:gray;
  border: 1px black solid;
  font-size: 25px;
  margin: 3%;
  border-radius: 5%;
}
button:hover {
  transform: scale(1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
